<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vCard QR Code Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- *header -->
     <header class="header">
        <h1>vCard QR Code Generator</h1>
     </header>
    
    
    <!-- *main body container -->
    <div class="main-container">
        <!-- *left side container -->
        <div class="left-container">
            <div id = "change-form-buttons">
                <!-- Buttons to change the form content -->
                <button onclick="changeForm('link')">QR Code for Link</button>
                <button onclick="changeForm('vcard')">QR Code for vCard</button>
                <button onclick="changeForm('wifi')">QR Code for WiFi</button>
                <button onclick="changeForm('social')">QR Code for Social Media</button>
            </div>
            <div id = "form-container">
                <form action = "/generate_qr_vcard" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="name">Full Name:</label>
                        <input type="text" id="name" name="name" placeholder="John Doe" required>
                    </div>
                    <div>
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone" pattern="\d{10}" placeholder="1234567890" required
                            oninvalid="this.setCustomValidity('Please enter a valid 10-digit phone number.')"
                            oninput="this.setCustomValidity('')">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="example@example.com" required>
                    </div>
                    <div>
                        <label for="image">Upload Image (optional):</label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>
                    <button type="submit">Generate QR Code</button>
                </form>
            </div>
        </div>

        <!-- *right side container -->
        <div class="right-container">
            {% if qr_code_url %}
            <h2>Your QR Code:</h2>
            <img id="qr-code" src="{{ qr_code_url }}" alt="Generated QR Code">
            <div>
                <a id="download-btn" href="{{ qr_code_url }}" download="vcard-qrcode.png">
                    <button type="button">Download QR Code</button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    
    <script>
        var activeForm = "{{ active_form | default('') }}";
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
           
</body>
</html>
