<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vCard QR Code Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- *header -->
     <header class="header">
        <h1>QR Code Generator</h1>
     </header>
    
    
    <!-- *main body container -->
    <div class="main-container">
        <!-- *left side container -->
        <div class="left-container">
            <div id = "change-form-buttons">
                <!-- Buttons to change the form content -->
                <button onclick="changeForm('link')">QR Code for Link</button>
                <button onclick="changeForm('vcard')">QR Code for vCard</button>
                <button onclick="changeForm('wifi')">QR Code for WiFi</button>
                <button onclick="changeForm('calendar')">QR Code for Calendar</button>
                <!-- <button onclick="changeForm('social')">QR Code for Social Media</button> -->
            </div>
            <div id = "form-container">
                <h2>Select Type of QR Code!</h2>
            </div>
        </div>

        <!-- *right side container -->
        <div class="right-container">
            {% if qr_code_url %}
                <h2>Your QR Code:</h2>
                <img id="qr-code" src="{{ qr_code_url }}" alt="Generated QR Code">
                <div>
                    <a href="{{ url_for('download_qr', filename=filename) }}?v={{ uuid }}">
                        <button type="button">Download QR Code</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    
    <script>
        var activeForm = "{{ active_form | default('') }}";
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
           
</body>
</html>
